@font-face {
	font-family: 'ErasITC-Light';
	 src: url('../fonts/ErasITC-Light/ErasITC-Light.eot') format('embedded-opentype'),
		url("../fonts/ErasITC-Light/ErasITC-Light.woff") format("woff");
	font-weight: normal; font-style: normal;
}
