
/**
 * CONTENT LAYOUT
 */
.site-footer{
	position: relative; z-index: 1;
	padding: $spacer-medium;
	@media (min-width: $small){ padding-bottom: $spacer-large; }
	@media (min-width: $medium){
		padding-top: $spacer-large;
		padding-bottom: $spacer-large;
	}
	@media (min-width: $large){
		padding-top: 0;
		padding-bottom: $spacer-large*2;
	}


	.site-form,
	.site-mention{
		@media (min-width: $medium){ grid-column: 3 / -3;}
	}

	.site-form{
		position: relative;
		margin-bottom: $spacer-medium;

		&:before{
			content:"";
			width: 50%; height: 100%;
			display: block;
			position: absolute;
			top: 10%; left:-37.5%;
			background: transparent url("../img/semelle-podologie.png") no-repeat top right;
			background-size: auto 42%;
			transform: rotate(5deg) translateX(-50px);
		}

		> div:last-child{
			form{
				//display: grid;
				@include grid(6, 0.5rem, $large);
				padding: 0 ;
				@media screen and (min-width: $small){ padding: 0 $spacer-medium $spacer-medium;}
				@media screen and (min-width: $large){ padding: 0 $spacer-large*2 $spacer-large*2;}

				[class^="form_"]{margin: 0;}

				@media screen and (min-width: $large){
					.form_nom ,
					.form_prenom ,
					.form_email ,
					.form_telephone{
						grid-column: 1 / 4;
					}

					.form_nom { grid-row: 1 / span1; }
					.form_prenom { grid-row: 2 / 3; }
					.form_email { grid-row: 3 / 4; }
					.form_telephone{ grid-row: 4 / 5;}

					.form_message{
						grid-column: 4 / -1;
						grid-row: 1 / 5;
					}
				}


				label,input, textarea{
						width: 100%;
						margin: .5rem 0;
						padding: 2rem;

						@media screen and (min-width: $medium){
							padding: auto;
							margin: 0;
						}
				}

				.btn{
					position: relative;
					width: 100%;
					@media (min-width: $large ){
						grid-column: 3 / -3;
					}
					margin-top: 1.5rem;
					input{
						display: block;
						//padding: 2rem 1rem;
					}

					.ajax-loader{ position: absolute; right:$spacer-small; top: 50%; transform: translateY(-50%);}
				}
				.wpcf7-form-control.g-recaptcha.wpcf7-recaptcha{ display: none; }
			}
		}
		> div:first-child{
			margin: 0 0 $spacer-large*2.5 0;
			padding: $spacer-large;
			@media (min-width: $large){
				margin: $spacer-large*2 0 $spacer-large*2 0;
				padding: $spacer-large*2;
			}

		}
	}

	.site-info{

		@media (min-width: $large){
			grid-column: 3 / 9;
		}
	}
	.site-coord{

		display: inline-block;
		padding-left: 2rem;
		max-width: auto;

		@media (min-width: $medium){
			display: block;
			grid-column: 5 / 13;
		}
		@media (min-width: $large){
			padding-left: 0;
			grid-column: 10 / 15;
		}
	}

	.site-mention{
		margin-top: $spacer-large + $spacer-medium;;
	}


	.flex-container{
		justify-content: center;
		align-items: center;
	}
	blockquote{
		&::before{ display: none; }
		width: 100%;
		margin: 0;
		padding-left: 0;

		.style{
			margin-bottom: 3px;
			font-family: $font-family-headings;
			font-size: 1.1em;
		}

		p:not(.style){
			margin: 1em auto 0 ;
			letter-spacing: .02em;
		}

		a{
			margin:0;
			padding: 0;
			text-decoration: none;
			strong{ text-decoration: none; font-weight: 800; color: $blackT; font-size: 1.4em;}
		}
		strong{
			text-decoration: underline;
		}

		&.flex-item-fluid, &.item-fluid{
			flex: none;
			@media (min-width: $large) {
				flex: 1 1 0%;
			}
		}

		@media (min-width: $large){
			width: auto;
			max-width: 480px;
			*{
				width: 100%;
				//padding-right: $spacer-large;
			}
			h2{
				font-size: 2em;
				line-height: 1;
				margin-bottom: .6em;
			}
		}
	}

	#map {
		width: 100%;
		height: 35vh;
		opacity: .95;
		@media (min-width: $large){
			width: 35vh;
		}


		#firstHeading{
			font-size: 1em;
		}

		.gmnoprint{
			display: none;
		}


	}

}


/**
 * DESIGN
 */
 .site-footer{

	background-color: $blackT;
	color: #d7c8b5;
	text-align: center;
	font-size: .9em;
	@media screen and (min-width: $large){
		font-size: 1em;
		text-align: left;
	}


	blockquote{
		h2{
			text-transform: uppercase;
		}
	}

	.site-form > div:first-child{
		background-image:  linear-gradient(to left, #{$redTF} 20%, #{$redT} 60%, #{$redTC} 100%);
	}

	.flaticon-open-envelope{
		position: relative;
		&:before{
		position: absolute;
		left:50%; top: -12rem;
		font-size: 10rem;
		transform: translateX(-50%);
		color: $color-primary;
		}
	}

	.site-info,
	.site-coord,
	.site-mention{
		font-size: 1.2em;
		color: $gray-200;
	}

	.site-info{
		.h3-like{ color: $gray-100; padding-bottom: $spacer-small ; }
	}

	.site-coord{
		text-align: left;
	}

	.flaticon-envelope,
	.flaticon-smartphone,
	.flaticon-placeholder{
		padding-left: 1rem;
		position: relative;
		&:before{
			position: absolute;
			left: -2.5rem;
			color: black;
			font-size: 2rem;
			max-width: 2rem;
			margin-right: .5em;
		}
		@media (min-width: $medium){
			padding-left: 2.5rem;
			&:before{
				left: -2.5rem;
				font-size: 3rem;
				max-width: 3rem;
			}
		}
	}
	.flaticon-placeholder:before{
		font-size: 2rem;
		text-indent: -.6rem;
		@media (min-width: $medium){
			font-size: 3.5rem;
		}
	}
	.flaticon-smartphone{text-indent: -.2rem;}

	.site-mention{
		font-size: 1em;
		a{
			color: $gray-200;
			text-decoration: none;
		}
		a:hover, a:focus{
			color: $beigeT;

		}
	}

}
